#toBeTyped {
	border: 3px solid gray;
	margin: 10% 0;
	background-color: #dae7f1;
	font-size: 20px;
}

body {
	margin: 20%;	
}

input {
	height: 45px;
	width: 100%;
	font-size: 25px;
}

#completed {
	color: #4d6619;
}